.introduction{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;

    .content {
        font-family: 'Inter';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;

    .button{
        display: flex;
        flex-direction: row;
        
        .winter{
            display: flex;
            width: 200px;
            padding: 20px 0px;
            justify-content: center;
            align-items: center;
            border-radius: 100px 0px 0px 100px;
            border: 2px solid #038B99;
            background: #038B99;
            color: #FFF;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }

        .others{
            display: flex;
            width: 200px;
            padding: 20px 0px;
            justify-content: center;
            align-items: center;
            border-radius: 0px 100px 100px 0px;
            border: 2px solid #038B99;
            color: #038B99;
            font-family: 'Inter';
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
}

