.conditions {
    .wrap {
        >section {
            padding: 50px 0;

            .container {
                display: flex;
                flex-direction: column;
                gap: 50px;

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .title {
                        color: #000;
                        font-family: 'Westmeath';
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        text-transform: uppercase;
                    }

                    .text {
                        font-family: 'Inter';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}