.page{
    display: flex;
    flex-direction: row;
    gap: 200px;
    
    .coords{
        margin-top: 50px;
        margin-bottom: 50px;
    
        .container{
            display: flex;
            flex-direction: column;
            gap: 25px;

            > div {
                display: flex;
                align-items: center;
                gap: 25px;
                font-family: 'Inter';
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }

    .form{
        margin-top: 50px;
        margin-bottom: 50px;

        .form-container {
            max-width: 500px;
            margin: 0 auto;
            
            input[type=text],
            input[type=email],
            input[type=tel],
            textarea {
                width: 100%;
                padding: 15px 0 15px 20px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.05);
                border: none;
                box-sizing: border-box;
                font-family: 'Inter';
                font-size: 20px;
                font-style: normal;
                font-weight: 300;

                &:focus {
                    outline: none;
                    border-color: #038B99;
                }
            }

            .form-group {
                margin-bottom: 15px;
            }

            .form-group-inline {
                display: flex;
                justify-content: space-between;
                
                .form-group {
                    flex: 1;
                    margin-right: 10px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            button{
                display: flex;
                padding: 20px 24px;
                justify-content: center;
                margin-left: auto;
                border-radius: 100px;
                background: #EBC246;
                font-family: 'Inter';
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                border: none;
                width: 150px;
            }
        }
    }

}
