.legal{
    margin-top: 50px;
    margin-bottom: 50px;

    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        .content{
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title{
                color: #038B99;
                font-family: 'Westmeath';
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
            }

            .text{
                font-family: 'Inter';
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}